.recipe-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;

    margin: 1rem;

    width: 900px;
}

.recipe-post {
    font-weight: 500;
    background-color: light-dark(var(--light-secondary-bg), var(--dark-secondary-bg));
    max-width: 900px;
}

.recipe-post img {
    width: 50%;
}