.setting-item {
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.setting-item:hover {
    background-color: light-dark(#f9f9f9, #181818);
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
}
.setting-item.active {
    background-color: light-dark(#f9f9f9, #181818);
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
    font-weight: 500;
}
.setting-section {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}