.recipe-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;

    margin: 1rem;

    width: 800px;
}

.recipe-post {
    color: black;
    font-weight: 500;
}

img {
    width: 50%;
}